// Colors
$color-white: #fff;
$color-light-grey: #F2F1ED;
$color-grey: #75787B;
$color-dark-grey: #3b3b3b;
$color-black: #000;

$color-turquoise: #A0D1CA;
$color-light-yellow: #f3efa2;
$color-yellow: #F9E267;
$color-orange: #EAA794;
$color-light-purple: #B6B8DC;
$color-purple: #614B79;
$color-green: #005851;



// Screen sizes
$mobile: 544px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;